/AnnualTicketSales.csv
/bikes.csv
/bikes_chart.json
/bokeh case1.PNG
/bokeh case2.PNG
/bokeh dash 2.png
/bokeh dash.PNG
/boken bottoms.PNG
/colormapped_bars.html
/data_matlib.txt
/Discorso slides.docx
/final project code.ipynb
/Introduction to Computational Science.docx
/matplotlib case1.png
/matplotlib case2.png
/matplotlib case3.png
/matplotlib dashboard1.PNG
/matplotlib dashboard2.PNG
/plotly case1
/plotly case2.PNG
/plotly case3.PNG
/plotly case4.PNG
/plotly dashboard1.PNG
/pygwalker case.PNG
/pygwalker dash.PNG
/seaborn case0.png
/seaborn case1.png
/seaborn case2.png
/seaborn case3.png
/Seaborn.ipynb
/~$scorso slides.docx